@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-2xl font-extrabold;
}
h2 {
  @apply text-xl font-bold;
}
h3 {
  @apply text-lg font-semibold;
}

p {
  @apply mb-3;
}

textarea {
  @apply w-full border-2 text-xs h-80;
}

button {
  @apply border-2;
}
ul {
  @apply list-disc;
  padding-left: 20px;
}
.break-inside {
  break-inside: avoid;
}

@keyframes spins {
  0% {
    transform: rotateY(0deg); }
  25% {
    transform: rotateZ(0deg); }
  50% {
    transform: rotateY(180deg); }
    75% {
      transform: rotateZ(180deg); }
}

.rotate{
  animation: spins 4s infinite;
  position: absolute;
  top:50%;
  left:50%;
  width:3.5rem; 
  height:3.5rem; 
  margin-top:-1.75rem;
  margin-left: -1.75rem;
}


.imageContainer {
  max-height: 9rem;
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;  
  align-items: center;
  
  
  /* & > span {
      position: unset !important;
      height: 100%;
  } */

  .image {
      object-fit: contain;
      width: auto !important;
      position: relative !important;
      height: auto !important;
  }
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
}

.nav-items {
  display: flex;
  gap: 1rem; /* Adjust as needed */
}

.nav-link {
  color: #333;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #007bff; /* Or any other highlight color */
}

.search-form {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.search-input {
  padding-left: 2.5rem; /* Make room for search icon */
  width: 300px; /* Adjust as needed */
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 2rem;
  outline: none;
}

.search-input:focus {
  border-color: #007bff; /* Or any other highlight color */
}

/* Add responsive styles below as needed */
@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
  }

  .nav-items {
    justify-content: center;
  }

  .search-input {
    width: 100%; /* Full width on mobile */
  }
}

