@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-2xl font-extrabold;
}
h2 {
  @apply text-xl font-bold;
}
h3 {
  @apply text-lg font-semibold;
}

p {
  @apply mb-3;
  @apply text-lg;
}

textarea {
  @apply w-full border-2 text-xs h-80;
}

button {
  @apply border-2;
}
ul {
  @apply list-disc;
  padding-left: 20px;
}
.break-inside {
  break-inside: avoid;
}

@keyframes bounce {
  0%, 60% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-20px);
  }
}

.loading {
  width: 50px;
  height: 50px;
  background-color: #3498db; /* You can choose any color */
  animation: bounce 1.5s infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}


.imageContainer {
  max-height: 9rem;
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;  
  align-items: center;
  
  
  /* & > span {
      position: unset !important;
      height: 100%;
  } */

  .image {
      object-fit: contain;
      width: auto !important;
      position: relative !important;
      height: auto !important;
  }
}